/* General styles */
body {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  margin: 0;
  color: white;
  background-color: #0d0c0c;
  height: 100%;
  min-height: 100vh;
}

/* Header styles */
header {
  background-color: #1a1a17;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

nav .active a {
  background-color: #fff;
  color: #333;
}

/* Main styles */
main {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url("/resources/network.png");
  background-size: 100%;
  background-position-x: center;
  text-align: center;
  padding-bottom: 5rem;
}

main h2 {
  font-size: 2rem;
  margin-top: 0;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main li {
  margin-bottom: 1rem;
}

main a {
  color: #333;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

.folders-container {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 8rem;
}

/* CSS */
.folder-button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 0.8rem;
  font-weight: bold;
  height: 2.6rem;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.folder-button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.folder-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.folder-button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.folder-button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.folder-button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.folder-button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.folder-button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.folder-button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.folder-button {
  margin: 1rem;
}

.photo img {
  width: 8rem;
  height: auto;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  justify-content: center;
  align-content: start;
}

.photo-container .photo img {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  margin: 2px;
}

.photo-container .photo img:hover {
  position: relative;
  transform: scale(1.4);
  z-index: 999;
}

.photo {
  display: contents;
  object-fit: cover;
}

.large-image-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.large-image {
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.gifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.gifs img {
  max-width: 100%;
}

.gif {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* Set a fixed height for the container */
}

.gif img {
  height: 100%;
  /* Scale the gifs to fit the height of the container */
  width: auto;
  object-fit: contain;
  margin: 10px;
  border-radius: 5%;
  /* Add some margin to each gif */
}

/* Footer styles */
footer {
  background-color: #1a1a17;
  color: #fff;
  padding: 1rem;
  text-align: center;
}